<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">

      body {
        background-image:url('');
        background-repeat;
      }
      #HEADER {
      }
      WRAPPER {
        margin:0px auto;
        width:95%;
        overflow:auto;
      }
      #CONTENT {
        margin-left:25%;
        width:75%;
      }
      #SIDE {
        float:left;
        width:25%;
      }
      #FOOTER {

      }
  
    </style>
  </head>
  <body>
   <div id= "HEADER">
    <h1>環保常識</h1>    
  </div>
  <div id= "NAV">
    <ul>
      <li><%=link_to "環保常識", "#"%></li>
      <li><%=link_to "生活環保", "#" %></li>
      <li><%=link_to "環保活動", "#" %></li>
      <li><%=link_to "環保小物", "#" %></li>
      <li><%=link_to "會員專區", "#" %></li>
    </ul>
  </div>
      <div id= "SIDE">
    <p>
      456
    </p>
    </div>
  <div id= "CONTENT">
    <p>
      123
    </p>
  </div>

  <div id= "FOOTER">
   <h2>版權所有</h2>
  </div>
    
  
</body>

  

</html>
 
